@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: large;
}

.home-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/img/home-hero.png");
}

.donation-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/img/donations-hero.png");
}

.image-cover {
    height: 50%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.content-section {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 400px;
    text-align: center;
}

.content-section-text {
    text-align: center;
    font-size: medium;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.container-bg-black {
    background-color: black;
}

.card-title {
    font-weight: bolder;
}

.cards a {
    text-decoration: none;
    color: white;
}

a .card:hover {
    background-color: #222222;
}

.row {
    display: flex !important;
}

.italic {
    font-style: italic;
}

.rounded-corners {
    border-radius: 5%;
}

.align-left {
    text-align: left;
}

.half-left {
    margin-right: 70px;
}

.btn-lg {
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.blockquote p {
    font-size: x-large;
}

.blockquote-footer {
    font-size: large;
}

.body-text {
    line-height: 2.0rem;
}

.text-content.half-left, .text-content.half-right {
    width: 80%;
}

.fifty-fifty {
    display: flex;
}

.form-control {
    margin-bottom: 20px;
}

form {
    margin-left: 250px;
    margin-right: 250px;
}

.preview-images-zone {
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer .sitemap {
    padding: 70px 0;
    margin: auto;
}

footer .sitemap span::after {
    content: " | ";
}

footer .sitemap span:last-child:after {
    content: "";
}

footer .copyright {
    padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .card {
        margin-bottom: 20px;
    }
    .cards:last-child {
        margin-bottom: 0px;
    }
    .content-section {
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: 250px;
        max-width: none;
    }
    .image-cover {
        height: 35%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .card {
        min-height: 315px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    form {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        min-height: 250px;
    }
}

@media screen and (max-width: 991px) {
    .half-left {
        margin-right: 20px;
    }
    .container.text-left, .container.text-right {
        max-width: none;
    }
    .fifty-fifty {
        flex-wrap: wrap;
    }
    .media {
        text-align: center;
        margin-right: 0px;
    }
    .fifty-fifty-image {
        padding-bottom: 20px;
    }
    .fifty-fifty .text-content {
        order: 2;
        margin-right: 0px;
    }
    .rounded-corners {
        border-radius: 15%;
    }
    .text-content.half-left, .text-content.half-right {
        width: 100%;
    }
    .fifty-fifty .link-container {
        order: 3;
        text-align: center;
    }
    .btn {
        text-align: center;
        width: 100%;
    }
    form {
        margin-left: 75px;
        margin-right: 75px;
    }
}

@media screen and (max-width: 767px) {
    form {
        margin-left: 25px;
        margin-right: 25px;
    }
}